* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'VT323', monospace;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.startGame {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14vh;
    color: wheat;
    visibility: visible;
}

.startGame img {
    height: 300px;
    margin-top: -150px;
    margin-bottom: 10px;
}

.startGame p {
    font-size: 40px;
    text-align: left;
    color: white;
    /* margin-top: 10px; */
}

.startGame .touch{
    color: #ffcd10;
    display: none;
}

.startGame .start{
    color: #ffcd10;
}

.gameOver {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.515);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14vh;
    color: wheat;
}

.gameOver button {
    font-size: 7vh;
    margin-top: 5vh;
    width: 200px;
    background-color: brown;
    color: #ffcd10;
    padding: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttons{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons i{
    color: black;
    font-size: 40px;
    background-color: rgba(240, 248, 255, 0.238);
    padding: 5px;
    border-radius: 50%;
    border: 1px solid black;
}

.buttons button{
    background-color: transparent;
    border: none;
    outline: none;
}

.right-keys{
    position: absolute;
    bottom: 25vh;
    right: 1.5vw;
    z-index: 10;
}

.left-keys{
    position: absolute;
    bottom: 25vh;
    left: 1.5vw;
    z-index: 10;
}

.btnstyle{
    margin-top: 1vw;
}

.btnstyle i{
    padding: 3px 10px;
}

.bottomButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.gameContainer {
    height: 100vh;
    width: 100vw;
    background: url("bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.scoreDiv {
    position: absolute;
    font-size: 8vh;
    color: white;
    display: flex;
    align-items: center;
    right: 300px;
    margin: 30px 0px 0px 0px;
    gap: 2px;
    visibility: hidden;
}

.scoreDiv img {
    height: 50px;
}

.gameOver {
    visibility: hidden;
}

.char img {
    position: relative;
}

.dragon img {
    height: 160px;
    width: 160px;
}

.mario img {
    height: 170px;
    width: 170px;
}

.mario {
    position: absolute;
    bottom: 15vw;
    left: 10vw;
}

.dragon {
    position: absolute;
    bottom: 15vw;
    right: -40px;
    visibility: hidden;
}

.animateMario {
    animation: marioJump .8s linear;
}

.deadMario {
    animation: deadmario 0.7s linear;
}

.animateDragon {
    animation: none 4s linear infinite;
}

.marioExit {
    animation: marioExit 6s linear infinite;
}

@keyframes marioJump {
    0% {
        bottom: 15vw;
    }

    50% {
        bottom: 33vw;
    }

    100% {
        bottom: 15vw;
    }
}

@keyframes deadmario {
    0% {
        bottom: 15vw;
    }

    50% {
        bottom: 30vw;
    }

    100% {
        bottom: -10vw;
    }
}
@keyframes marioExit {

    100% {
        left: 100vw;
    }
}

@keyframes dragon {
    0% {
        left: 100vw;
    }

    100% {
        left: -10vw;
    }
}


@media (max-width: 900px){

    html,body{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .buttons{
        visibility: visible;
    }

    .gameContainer {
        background: url("bg.png");
        background-size: cover;
        background-position: center;
    }

    .startGame img {
        height: 25vw;
        margin-top: -50px;
        margin-bottom: 10px;
    }
    
    .startGame p {
        font-size: 3vw;
        text-align: left;
        color: white;
        /* margin-top: 10px; */
    }

    .dragon img {
        height: 90px;
        width: 90px;
    }
    
    .mario img {
        height: 100px;
        width: 100px;
    }
    
    .mario {
        left: 3vw;
    }

    .scoreDiv img {
        height: 3vw;
    }
    
    .startGame .touch{
        display: block;
    }

    .startGame .start{
        display: none;
    }

}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  } */